<footer>
  <p style="line-height: 1.3em;">
    <a rel="license noopener noreferrer" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width: 0; margin-right: 4px; float: left;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>
    <span>Grand Comics Data Analytics</span>
    by <a href="https://www.gcdata.org" rel="cc:attributionURL">gcdata.org</a> is licensed under
    a <a rel="license noopener noreferrer" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    Based on the CC-BY-SA work of <a href="https://www.comics.org" target="_blank" rel="noopener noreferrer">the Grand Comics Database</a>™.
  </p>
  <p>
    This site is built with <a href="https://www.11ty.dev" target="_blank" rel="noopener noreferrer">Eleventy</a>.
  </p>
</footer>
